build/
install/
log/
*/build/
*/install/
*/log/

__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt

offline_training/*.pt
offline_training/fs_dataset/
offline_training/fsoco_dataset/
offline_training/predictions/
offline_training/runs/

.vscode/
.DS_Store